.banner-wrapper {
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-height: calc(100vh - 77px);
}