.backers-logo-container {
    width: 190px;
    height: 100px;
    padding: 6px 10px;
    background-color: #384b7080;
    border-radius: 10px;

    @media screen and (max-width: 465px) {
        width: 150px;
        height: 80px;
    }

    @media screen and (max-width: 385px) {
        width: 130px;
        height: 70px;
    }
}

.backers-logo {
    filter: grayscale(100%) brightness(150%);
    width: 100%;
    /* height: 100%; */
}

.backers-logo.animoca {
    transform: translateY(-18px);

    @media screen and (max-width: 385px) {
        transform: translateY(-14px);
    }
}

.backers-logo.ticker-img {
    transform: translateY(-2px) scale(1.1);
}

.backers-logo.waterdrip {
    transform: translateY(-18px) scale(1.3) translateX(2px);

    @media screen and (max-width: 465px) {
        transform: translateY(-14px) scale(1.3) translateX(3px);
    }
}

.backers-logo.k300 {
    padding: 25px;
    transform: translateY(-10px);

    @media screen and (max-width: 465px) {
        padding: 20px;
        transform: translateY(-12px);
    }

    @media screen and (max-width: 385px) {
        padding: 15px;
        transform: translateY(-8px);
    }
}

.backers-logo.capital-chain {
    padding: 30px;
    transform: translateY(-40px);

    @media screen and (max-width: 465px) {
        padding: 20px;
        transform: translateY(-30px);
    }
}

.backers-logo.nnbox {
    padding: 30px;
    transform: translateY(-25px);

    @media screen and (max-width: 465px) {
        padding: 20px;
        transform: translateY(-18px);
    }
}

.backers-logo.iotex {
    /* padding: 10px; */
    transform: translateY(15px);
}

.backers-logo.cryptomind {
    transform: translateY(25px);

    @media screen and (max-width: 465px) {
        transform: translateY(18px);
    }
}

.backers-logo.tada-img {
    padding: 10px;
    transform: translateY(-6px);
}

.backers-logo.mvl-img {
    /*  */
}

.backers-logo.powerpod-img {
    transform: scale(1.2);
    /* transform: translateY(0px); */
}

.backers-logo.iqgpt {
    transform: translateY(10px);
}